
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Share design */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 17px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.orange-color{
    color: #FD6E0A;
}
header {
    background-color: #FFF8F3;
    padding-top: 50px;
 }

 nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;


 }
 nav .menu{
    list-style-type: none;
    display: flex;
    gap: 51px;
    align-items: center;
 }
 .menu a{
    text-decoration: none;
    color: #474747;
 }