
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Share design */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  
}
.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 17px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.orange-color{
    color: #FD6E0A;
}
.section-heading h2{
   font-size: 35px;
   font-weight: bold;
   padding-bottom: 30px;
   color:#181818;
}
.section-heading p{
   font-size: 18px;
   color: #757575;
   
}
.section-heading{
   padding-bottom: 30px;
   max-width: 827px;
   text-align: center;
   margin: 0 auto;
}
.text-center{
   text-align: center;
}
/* main style */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px 30px, bottom right;
 }

 nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;


 }
 nav .menu{
    list-style-type: none;
    display: flex;
    gap: 51px;
    align-items: center;
 }
 .menu a{
    text-decoration: none;
    color: #474747;
 }

 #bannar{
    margin: 45px 40px 130px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 #bannar .bannar-content{
    max-width: 585px;
 }
 #bannar .bannar-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
 }
 #bannar .bannar-content h1{
    color: #1E1E1E;
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;

 }
 #bannar .bannar-content p{
    color: #474747;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
 }
 .btn-grp{
    display: flex;
    gap: 30px;
    align-items: center;
 }
 .btn2{
    background-color: white;
    color: #FD6E0A;
    border: none;
    padding: 17px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #FD6E0A;
     cursor: pointer;
}

#bannar .bannar-img img{
max-width: 585px;
max-height: 670px;
vertical-align: middle;
}
#about-Section .about-container{
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
   background-color: #FFF8F3;
   text-align: center;
   padding: 130px 156px;
   border-radius: 5px;
}


.about-info{
   display: flex;
   justify-content: space-around;
}
.about-info p{
   color: #757575;
   font-size: 20px;
}
.about-info h4{
   color:black;
   font-size: 20px;

}

#skills, #resume{
   padding-top: 130px;
}
#skills .skills-container{
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
  
}
#skills .skills-container .skills-box{
   display: flex;
   gap: 24px;
}

.skills-box .skill-card{
   padding: 30px;
   border: 1px solid black;
   max-width: 267px;
   box-shadow: 0 6px 50px 0 #00000028;
}
.skill-card img{
   max-width: 44px;
   margin-bottom: 30px;
}
.skill-card h4{
   font-size: 20px;
   color: #181818;
   font-weight: bold;
   margin-bottom: 20px;
}
.skill-card p{
   color: #474747;
    font-size: 18px;
    line-height: 28px;
}

.resume-container{
   width: 71%;
   max-width: 1140px;
   margin: 113px auto 0;
   display: flex;
   gap: 24px;
}
.about-container, .section-title{
   color: #474747;
   font-size: 30px;
   margin-bottom: 30px;
}
.resume-card{
   max-width: 511px;
   margin-right: 47px;
}
.resume-card .card-title{
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 10px;
   color: #474747;
}
.resume-card .card-info{
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 20px;
   color: #757575;
}
.resume-card .card-text{
   font-size: 16px;
   line-height: 28px;
   margin-bottom: 20px;
   color: #757575;
}
.resume-container hr{
   margin: 30px 0;
}

footer{
   margin-top: 130px;
   background-color: #FFF8F3;
   padding: 130px 0;
}
#footer-container{
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   gap: 117px;

}
#footer-container .social{
   max-width: 562px;
}
#footer-container h2{
   color: #181818;
   font-size: 35px;
   margin-bottom: 20px;
   font-weight: bold;
}
.social p{
   color:#474747;
   font-size: 16px;
   line-height: 28px;
   margin-bottom: 30px;
}
#footer-container .social .icons a{
   margin-right: 24px;
}
#footer-container .social .icons a img{
   width: 24px;
}
form [type="text"]{
   width: 461px;
   padding: 18px 31px;
   margin-bottom: 24px;
   border: none;
   border-radius: 5px;
}
form [type="email"], form textarea{
   width: 461px;
   padding: 18px 31px;
   margin-bottom: 24px;
   border: none;
   border-radius: 5px;
   color: #757575;
}

